{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main>
        <h1 class="text-center sizeh1">Adopt a Dog</h1>

        <div class="container text-center lignerouge">
            <h2>Bienvenu sur Adopt a Dog!</h2>
            <p>
                L'application de notre refuge où vous pouvez voir les chiens en adoption.
                Et peut-être, qui sait, leur permettre de se trouver un foyer...
            </p>

            <a href="{{ path('app_chien_index') }}">Voir les chiens</a>
        </div>

        <div class="container text-center lignerouge">
            <h3>Trouver son macth ?!</h3>
            <p>
                Vous voulez faire une recherche pour voir avec quels chiens vous matchez ?
            </p>
            {% if not app.user %}
                <a href="{{ path('app_login') }}">Voir les correspondances</a>
            {% endif %}
            {% if app.user %}
                <a href="{{ path('app_correspondance_index', {'id': app.user.id}) }}">Voir les correspondances</a>
            {% endif %}
        </div>
    </main>

{% endblock %}
