{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Adopt a Dog</h1>
    <h2>Accueil</h2>
    <p>Bienvenu sur Adopt a Dog</p>
    <a href="{{ path('app_chien_index') }}">Voir les chiens</a>
    <a href="{{ path('app_admin_index') }}">Voir les admins</a>
    <a href="{{ path('app_utilisateur_index') }}">Voir les utilisateurs</a>
    {% if app.user %}
        <a href="{{ path('app_correspondance_index', {'id': app.user.id}) }}">Voir les correspondances</a>
    {% endif %}
{% endblock %}
