{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main>
        <!--        Logo        -->
        <div class="text-center mt-3">
            <img src="{{ asset('assets/img/patte.webp') }}" width="150rem" alt="Logo Adopt a Dog">
        </div>
        <!--        ! Logo        -->

        <!--        Titre        -->
        <h1 class="text-center sizeh1">Adopt a Dog</h1>
        <!--        ! Titre        -->

        <!--        Bienvenu        -->
        <div class="text-center match">
            <h2>Bienvenu sur Adopt a Dog!</h2>
            <p>L'application de notre refuge où vous pouvez voir les chiens en adoption.</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur ducimus est eum inventore
                pariatur quos sed suscipit totam unde! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus assumenda itaque maiores minima nesciunt numquam obcaecati perferendis quam qui rem.
            </p>
            <p>Et peut-être, qui sait, leur permettre de retrouver un foyer...</p>

            <div class="mt-5">
                <a class="profil" href="{{ path('app_chien_index', {'id': app.user.id}) }}">Voir les chiens</a>
            </div>

        </div>
        <!--        ! Bienvenu        -->


        <div class="flex text-center boxBtn">
            <!--        Bouton voir admins        -->
            <div class="text-center mb-5 responsive">
                <a class="profil" href="{{ path('app_admin_index') }}">Voir les admins</a>
            </div>
            <!--        ! Bouton voir admins        -->

            <!--        Bouton voir utilisateurs        -->
            <div class="text-center mb-5 responsive">
                <a class="profil" href="{{ path('app_utilisateur_index') }}">Voir les utilisateurs</a>
            </div>
            <!--        ! Bouton voir utilisateurs        -->
        </div>

    </main>

{% endblock %}
