{% extends 'base.html.twig' %}

{% block title %}Nouvel Admin{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 titre">Créer un Admin</h1>

    <div class="text-center matchRech">
        {{ include('admin/_form.html.twig') }}
    </div>

    <div class="text-center mb-5">
        <a class="profil" href="{{ path('app_admin_index') }}">Revenir à la liste</a>
    </div>
{% endblock %}
