{% extends 'base.html.twig' %}

{% block title %}Editer mon profil{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 titre">Editer mon profil</h1>

    <div class="text-center matchRech">
        {{ include('utilisateur/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
