{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 titre">Inscription</h1>

    <div class="text-center matchRech">
        {{ include('utilisateur/_form.html.twig') }}
    </div>

    <div class="text-center mb-5">
        <a class="profil" href="{{ path('app_main') }}">Revenir à l'accueil</a>
    </div>
{% endblock %}
