{% extends 'base.html.twig' %}

{% block title %}Editer le profil{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 titre">Editer le profil</h1>

    <div class="text-center matchRech">
        {{ include('chien/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <div class="text-center">
        <div class="text-center my-4">
            {{ include('chien/_delete_form.html.twig') }}
        </div>

        <div class="text-center my-4">
            <a class="profil" href="{{ path('app_chien_index') }}">Revenir à la liste</a>
        </div>
    </div>


{% endblock %}
