{% extends 'base.html.twig' %}

{% block title %}Nouveau Chien{% endblock %}

{% block body %}
    <!--        Logo        -->
    <div class="text-center mt-3">
        <img src="{{ asset('assets/img/patte.webp') }}" width="150rem" alt="Logo Adopt a Dog">
    </div>
    <!--        ! Logo        -->

    <h1 class="text-center mt-5 titre">Nouveau profil de chien</h1>

    <div class="text-center matchRech">
        {{ include('chien/_form.html.twig') }}
    </div>

    <div class="text-center mb-5">
        <a class="profil" href="{{ path('app_chien_index') }}">Revenir à la liste</a>
    </div>
{% endblock %}
