/***************************************************
VARIABLES
***************************************************/

:root {
    --primaryColor: rgb(8, 8, 140);
    --containerWidth: 1320px;
}

/***************************************************
GLOBAL
***************************************************/

* {
    box-sizing: border-box;
    /* Gestion des padding */
}

img {
    max-width: 100%;
    /* Éviter que les images débordent des conteneurs */
    vertical-align: middle;
    /* Éviter petit décalage sous img */
    height: auto;
    /* Éviter des déformations d’images  */
}

iframe {
    max-width: 100%;
    display: block;
}

nav ul {
    list-style: none;
    /* Enlève puces des listes */
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--primaryColor);
}

body {
    word-wrap: break-word;
    /* Casser le mot s'il n'y a plus assez d'espace */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Polices système */
}

.background {
    background: #EEE2DF;
}

/***************************************************
STRUCTURE
***************************************************/

.container {
    max-width: var(--containerWidth);
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lignerouge {
    border: 1px solid red;
}

.ligneverte {
    border: 1px solid green;
}

/*marron: #B36A5E
  marron plus clair: #CA7C5C
  taupe rose: #C89F9C
  taupe clair: #EED7C5
  taupe gris: #EEE2DF
*/
nav, footer {
    background: #C89F9C;
}

/***************************************************
Accueil - Main
***************************************************/
.sizeh1 {
    font-size: 10rem;
}

/***************************************************
Les Dogs - liste des chiens
***************************************************/
.fiche {
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
    justify-content: center;
}

/***************************************************
Profil DU Dog
***************************************************/
.commentaire{
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
}