{{ form_start(form) }}
<div class="pt-3 pb-3">
    {{ form_row(form.texte, {
        'attr': {'class': 'form-control-sm'},
        'label_attr': {'class': 'critere'},
    }) }}
</div>

<div class="text-center pt-3 pb-3">
    <button class="recherche">{{ button_label|default('Enregistrer mon commentaire') }}</button>
</div>
{{ form_end(form) }}
