{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 titre">Voulez-vous laisser un commentaire ?</h1>

    <div class="text-center matchRech">
        {{ include('commentaire/_form.html.twig') }}
    </div>

    <div class="retour">
        <a class="profil" href="{{ path('app_chien_show', {'id': chien.id}) }}">Retour au profil</a>
    </div>
{% endblock %}
