{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
    <h1>Vous voulez laisser un commentaire ?</h1>

    {{ include('commentaire/_form.html.twig') }}

    <a href="{{ path('app_chien_show', {'id': chien.id}) }}">back to list</a>
{% endblock %}
