{% extends 'base.html.twig' %}

{% block title %}Correspondance index{% endblock %}

{% block body %}
    <h1>Correspondance index</h1>

    <tbody>
        <tr>
            <td>
                    {{ utilisateur.nom }} les chiens qui te correspondent sont:
            </td>
            <td>
                {% for chien in chiens %}
                    {{ chien.nom }}
                {% endfor %}
            </td>
        </tr>
    </tbody>

    <a href="{{ path('app_correspondance_new', {'id': app.user.id}) }}">Create new</a>
    <a href="{{ path('app_main') }}">Accueil</a>
{% endblock %}
