{% extends 'base.html.twig' %}

{% block title %}Correspondance index{% endblock %}

{% block body %}
    <h1>Correspondance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for correspondance in correspondances %}
            <tr>
                <td>{{ correspondance.id }}</td>
                <td>
                    <a href="{{ path('app_correspondance_show', {'id': correspondance.id}) }}">show</a>
                    <a href="{{ path('app_correspondance_edit', {'id': correspondance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_correspondance_new') }}">Create new</a>
{% endblock %}
