{% extends 'base.html.twig' %}

{% block title %}Ça match?{% endblock %}

{% block body %}
    <main>
        <!--        Logo        -->
        <div class="text-center mt-3">
            <img src="{{ asset('assets/img/patte.webp') }}" width="150rem" alt="Logo Adopt a Dog">
        </div>
        <!--        ! Logo        -->

        <!--        Titre        -->
        <h1 class="text-center mt-5 titre">Ça Match ou ça ne Match pas?!</h1>
        <!--        ! Titre        -->

        <!--        Intro        -->
        <h2 class="text-center mt-5 intro">Sélectionnez les critères de votre boule de poil.</h2>
        <!--        ! Intro        -->

        <div class="text-center matchRech">
            <!--        Formulaire        -->
            {{ include('correspondance/_form.html.twig') }}
            <!--        ! Formulaire        -->
        </div>
        <!--        Btn retour à la liste        -->
        <div class="retour">
            <a class="profil" href="{{ path('app_correspondance_index', {'id': app.user.id}) }}">Retour à la liste</a>
        </div>
        <!--        ! Btn retour à la liste        -->
    </main>
{% endblock %}
